<!--[if lte IE 7]><div class="IE7"><![endif]-->
<div class="FilterControl">
    <div id="newsFilterVisible" class="FilterControlVisible">
        <div id="newsFiltersBg" class="FilterControlSemaphore"></div>
        <ul>
            <li class="{{selectedIfEqual type 0}}"><span class="ToolTip" style="z-index: 30;">All</span><a href="/news/list/0/1"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/all_categories.webp" alt="All" title=""></a></li>
            <li class="{{selectedIfEqual type 1}}"><span class="ToolTip" style="z-index: 30;">Game Update</span><a href="/news/list/1/1"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/game_updates.webp" alt="Game Update" title=""></a></li>
            <li class="{{selectedIfEqual type 2}}"><span class="ToolTip" style="z-index: 30;">Web/API Updates</span><a href="/news/list/2/1"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/website.webp" alt="Website" title=""></a></li>
            <li class="{{selectedIfEqual type 3}}"><span class="ToolTip" style="z-index: 30;">Community Updates</span><a href="/news/list/3/1"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/customer_support.webp" alt="Customer Support" title=""></a></li>
            <li class="{{selectedIfEqual type 4}}"><span class="ToolTip" style="z-index: 30;">Engine Updates</span><a href="/news/list/4/1"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/technical.webp" alt="Technical" title=""></a></li>
        </ul>
    </div>
    <div id="newsFilterMask" class="FilterControlMask"></div>
</div>
<!--[if lte IE 7]></div><![endif]-->
