<div class="OrnamentalBox Width923 SegmentTwo" id="skillStats">
    <div class="OrnamentalBoxTop"></div>
    <div class="OrnamentalBoxTitle"><div class="Centre1"><div class="Centre2"><h3 class="Gradient NoFlourish Centre"><span class="spacing" aria-hidden="true">Skill Stats</span>
        <span class="G0">Skill Stats</span>
        <span class="G1" aria-hidden="true">Skill Stats</span>
        <span class="G2" aria-hidden="true">Skill Stats</span>
        <span class="G3" aria-hidden="true">Skill Stats</span>
        <span class="G4" aria-hidden="true">Skill Stats</span>
        <span class="G5" aria-hidden="true">Skill Stats</span>
        <span class="G6" aria-hidden="true">Skill Stats</span>
    </h3></div></div></div>
    <div class="FlatHeader playerNames">
        <div class="left">
            {{displayName}}
        </div>
    </div>
    <div class="playerAvatars">
        <div class="left">
            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/default_chat.webp" alt="" title="">
        </div>
    </div>
    <style>
        #categorySelector.InPageDropDownNew.NoJS:hover .DropListWrapper,
        #categorySelector.InPageDropDownNew.CSS3:hover .DropListWrapper{ top: -8px; }
        #categorySelector.InPageDropDownNew.NoJS .DropListWrapper,
        #categorySelector.InPageDropDownNew.CSS3 .DropListWrapper{ top: -100px; }
        #categorySelector:hover { height: 128px; }
    </style>
    <div class="InPageDropDownNew NoJS CSS3 categorySelect" id="categorySelector" data-expand="128px" style="display: block;">
        <div class="Mask"></div>
        <div class="DropListWrapper" data-retract="-100px">
            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/DropDownFlourish.webp" class="Flourish" alt="">
            <span class="firstValue">All</span>
            <ul>

                <li><a href="#gathering">Gathering</a></li>

                <li><a href="#combat">Combat</a></li>

                <li><a href="#support">Support</a></li>

                <li><a href="#artisan">Artisan</a></li>

                <li><a href="#members">Members Only</a></li>

                <li><a href="#all">All</a></li>
            </ul>
        </div>
    </div>
    <div id="canvas" style="margin-top: 210px" width="400" height="400"><canvas id="myChart"></canvas></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="module" src="/javascripts/acquisitions.js"></script>
    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
</div>
